/viikko4/MockitoDemo/build/
/viikko4/MaksukorttiMockito/build/
/viikko4/Verkkokauppa/build/
/viikko4/IntJoukkoSovellus/build/
/viikko4/Tennis/build/
/viikko5/LaskinFX11/.gradle/
/viikko5/LaskinFX11/build/