/viikko4/MockitoDemo/build/
/viikko4/MaksukorttiMockito/build/
/viikko4/Verkkokauppa/build/
/viikko4/IntJoukkoSovellus/build/
/viikko4/Tennis/build/
/viikko5/LaskinFX11/.gradle/
/viikko5/LaskinFX11/build/
/viikko6/QueryLanguage/.gradle/
/viikko6/QueryLanguage/build/
/viikko7/KiviPaperiSakset/.gradle/
/viikko7/KiviPaperiSakset/build/